<h1> Listing Pins </h1>
<% if @pins.count == 0 or @pins.nil? %>
  <h1>You have no pins yet</h1>
<% else %>
  <% @pins.each do |pin| %>
    <h1> <%= pin.id %> - <%= pin.description%></h1>
    <% if pin.image.attached? %>
      <%= link_to image_tag(pin.image, width:"200px"), pin %>
      <br>
    <% else %>
      <h3><%= link_to 'Show Pin', pin %></h3>
    <% end %>
    <br>
    <%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-default" %>
    <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    <br/>
  <% end %>
<% end %>
<br/>
<%= link_to 'New Pin', new_pin_path %>
