<h1> Listing Pins </h1>
<% if @pins.count == 0 or @pins.nil? %>
  <strong>You have no pins yet</strong>
<% else %>
  <h2>Image</h2>
  <% @pins.each do |pin| %>
    <%= image_tag pin.image, width:"100%" %>
    <br>
    <h2>Description</h2>
    <%= pin.description%>
    <br>
    <%= link_to 'Show', pin %>
    <%= link_to 'Edit', edit_pin_path(pin) %>
    <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
<br/>
<%= link_to 'New Pin', new_pin_path %>
